{% extends "layout.html" %}

{% block main_heading %}
  <br><h1 class="text-center"><br>Hello {{user_name}}!<br></h1><br>

  <h3>{{message}}</h3>
{% endblock %}

{% block content %}
  <form action="{{ url_for('search_results') }}" method="post"><br>
    <div class="form-group">
      <h4>Search for a book using its title, author or ISBN:<br></h4>
      <br><select class="custom-select mr-sm-2" id="inlineFormCustomSelect"" name="result_type">
        <option value="1" class="form-control">Title</option>
        <option value="2" class="form-control">Author</option>
        <option value="3" class="form-control">ISBN</option>
      </select><br>

      <br><input type="text" name="user_search" class="form-control" placeholder="Search here..."><br>
      <button name="search_button" class="btn btn-danger btn-lg" type="submit">Search</button><br>
    </div>
  </form>

{% endblock %}
